mixin kakka()
	button.kakka&attributes(attributes)

.pr-element
	.pr-example
		+{{{ element }}}({{{ elementDefaults }}})
	.pr-docs
		h2 markdown
	.pr-dom
		pre
			code.language-html
	{{#variations}}
	.pr-variables
		+{{{ variation }}}( {{{ variationAttrs }}} )
	{{/variations}}
