doctype html
html(lang="en").not-iemobile
	head
		
		//include ../../_atoms/buttons.jade
		//include ../../_atoms/checkboxes.jade
		//include ../../_molecules/forms.jade
		//include ../../_molecules/navigation.jade
		title JEeee
		//block head
		//	title Intra Pattern Library and Style Guide
		//	meta(name="viewport", content="width=device-width, initial-scale=1")
		//	link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300', rel='stylesheet', type='text/css')
		//	link(rel="stylesheet", href="css/style-guide.css")
		//	link(rel="stylesheet", href="../../assets/css/main.css")
		//	script(src="../../assets/js/modernizr.min.js")
	body